<% provide(:title, "Community") %>
<% if logged_in? %>
  <div class = "row">
    <div class = "col-md-8 col-md-offset-2">
      <h3>
         WELCOME! <%= current_user.name %>
        <%= link_to "Post", postnew_path, class: "btn btn-primary postbtn" %>
      </h3>
      <h4>
        <%= link_to "recent", reply_static_page_index_path, class:"btn btn-primary" %>
      </h4>
      <ol class = "posts">
        <%= render @posts %>
      </ol>
      <div class="digg_pagination">
        <%= will_paginate @posts %>
      </div>
    </div>
  </div>
<% else %>
  <div class = "row">
    <div class = "col-md-8 col-md-offset-2">
      <h3>
         WELCOME! visiter
        <%= link_to "Post", login_path, class: "btn btn-primary postbtn",data: { confirm: "Sign in first!" }%>
      </h3>
      <ol class = "posts">
        <%= render @posts %>
      </ol>
      <div class="digg_pagination">
        <%= will_paginate @posts %>
      </div>
    </div>
  </div>
<% end %>
