<% provide(:title, "Home") %>

<div class="home_page_background">
  <div class="home_page_welcome">
    <h1 class="welcome">Welcome to Community Prototype</h1>
    <p>
      Community Prototype is an ultimate social community. By joining us, you will join our big family and where
      you can build your posts and leave your comments to share your own thoughts with
      hundreds of other members like you in this family. Come and make friends here!
      <br>
      <br>
      Still hesitate to join us? Explore our community and see what you can find here.
    </p>
    <%= link_to "Explore our community &nbsp;&nbsp;&nbsp;&nbsp;>".html_safe, community_path, class: "btn btn-md btn-primary" %>
  </div>
  <% if !logged_in? %>
  <div class="home_page_signup">
    <h1 class="home_page_signup_h1">Join Today!</h1>
    <%= form_for @user, url:signup_path , validate: true do |f|  %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.text_field :name, class: 'form-control',
                       placeholder:"username", style:"margin-bottom: 25px;float:left;
                       margin-left: 55px;
                       width: 70%;"%>

      <%= f.text_field :email, class: 'form-control', placeholder:"email", style:"margin-bottom: 25px;float:left;
                       margin-left: 55px;
                       width: 70%;" %>

      <%= f.password_field :password,
                           placeholder:"password", class: 'form-control', style:"margin-bottom: 25px;float:left;
                           margin-left: 55px;
                           width: 70%;" %>

      <%= f.password_field :password_confirmation,
                           placeholder:"password confirmation", class: 'form-control',style:"margin-bottom: 25px;float:left;
                           margin-left: 55px;
                           width: 70%;" %>

      <%= f.submit "Get started", class: "btn btn-primary btn-md", style:" margin-left: 55px; width:70%;" %>
    <% end %>
    <p style="text-align:center; padding-top:20px;">already a member? Click <%= link_to "here", login_path %> to login.</p>
  </div>
    <% end %>
</div>





