<% provide(:title, 'Reset password') %>
<div class="row"  style="width:82.15%;margin:auto;">
  <nav class="nav_bar">
    <ul>
      <li>
        <%= link_to "Home", root_url %> \&nbsp;
      </li>
      <li>
        Reset password
      </li>
    </ul>
  </nav>

  <header class="login_header">
    <h1>Reset password</h1>
  </header>
  <div class="forgotpassword_form">
    <%= form_for(@user, url: password_reset_path(params[:id])) do |f| %>
      <%= render 'shared/error_messages',object: f.object %>

      <%= hidden_field_tag :email, @user.email %>

      <%= f.label :password, class:'label-control' %>
      <%= f.password_field :password, class: 'field-control' %>

      <%= f.label :password_confirmation, "Confirmation", class:'label-control' %>
      <%= f.password_field :password_confirmation, class: 'field-control' %>

      <%= f.submit "Update password", class: "btn btn-primary btn-md", style:"width:350px; margin-left:402px; margin-bottom:130px;
                                                                          margin-top:5px;" %>
    <% end %>
  </div>
</div>