<li id="comment_<%= comment.id %>" class="comment">
  <div id="hidden_comment_anchor_<%= comment.id %>" style="visibility:hidden; height:51px; margin-top:-61px;"></div>
  <div style="margin-top:10px;"></div>

  <section class="comments-body">

    <aside class="avatar_img">
      <% if comment.user.picture?%>
        <%= link_to (image_tag comment.user.picture.url, class:"img-circle"), comment.user %>
      <% else %>
        <%= link_to (image_tag ('default.jpg'), class:"img-circle"), comment.user %>
      <% end %>
    </aside>

    <span class="comment-info">
        <%= sanitize link_to comment.user.name, comment.user %> &bull;
        <%= localize(comment.created_at, format: :long) %>
    </span>

    <div class="comment-content">
      <%= sanitize comment.content %>
    </div>
    <div class="comment-menu">
      <% if current_user&.admin? %>
        <%= link_to edit_polymorphic_path([comment.commentable, comment]), class: 'edit-comment-link', remote: true do%>
          <i class="fa fa-edit"></i> EDIT
        <% end %> &bull;
        <%= link_to [comment.commentable, comment], method: :delete, class: 'delete-comment-link', data:{confirm:"Are your sure?"}, remote: true do %>
          <i class="fa fa-trash-o"></i> DELETE
        <% end %> &bull;
      <% end %>
      <% if current_user?(comment.user)&&!current_user.admin? %>
        <%= link_to edit_polymorphic_path([comment.commentable, comment]), class: 'edit-comment-link', remote: true do %>
          <i class="fa fa-edit"></i> EDIT
        <% end %> &bull;
        <%= link_to [comment.commentable, comment], method: :delete, class: 'delete-comment-link', data:{confirm:"Are your sure?"}, remote: true do%>
          <i class="fa fa-trash-o"></i> DELETE
          <% end %> &bull;
      <% else %>
        <%= link_to "EDIT", edit_polymorphic_path([comment.commentable, comment]),style:"visibility:hidden", class: 'edit-comment-link', remote: true  %>
        <%= link_to "DELETE", [comment.commentable, comment], method: :delete, style:"visibility:hidden",class: 'delete-comment-link', data:{confirm:"Are your sure?"}, remote: true %>
      <% end %>
      <% if logged_in? %>
      <%= link_to polymorphic_path([:reply, comment.commentable, comment]), class: 'reply-comment-link', remote: true do %>
          <i class='fa fa-comments-o'></i> REPLY
          <% end %>
    <% else %>
      <%= link_to login_path, data:{confirm:"You need to log in first!"} ,class: 'reply-comment-link' do %>
          <i class='fa fa-comments-o'></i> REPLY
          <% end %>
    <% end %>
    </div>
  </section>

</li>
  <% if comment.replies.any? %>
    <ul style="padding-left:15px;">
      <%= render comment.replies %>
    </ul>
  <% end %>
