<% provide(:title, @user.name) %>
<div class="row"  style="width:1155px;margin:auto;">
  <nav class="nav_bar">
    <ul>
      <li>
        <%= link_to "Home", root_url %> \&nbsp;
      </li>
      <li>
        Personal profile
      </li>
    </ul>
  </nav>

  <div class="user_profile">
    <div class="user_profile_left">
      <div class="user_profile_avatar">
        <% if @user.picture? %>
          <%= image_tag @user.picture.url class:"img-circle" %>
        <% else %>
          <%= image_tag ('default.jpg'), class:"img-circle"%>
        <% end %>
      </div>
    </div>

    <div class="user_profile_middle">
      <div class="user_profile_name">
        <p> <%= @user.name %></p>
      </div>
      <div class="follow_button">
        <% if logged_in? %>
          <%= render 'follow_form' %>
        <% else %>
          <%= link_to "+ Follow", login_path, class:"btn follow-btn", data:{confirm:"You need to log in first!"} %>
        <% end %>
      </div>
      <% if current_user?(@user) %>
        <div class="edit_button">
          <%=image_tag ("edit_icon.png"), size:"20x18", class:"edit-intro-btn" %>
        </div>
      <% end %>
      <div class="user_profile_intro">
        <% if @user.introduction? %>
          <div class="user_profile_intro_content">
            <div id="introduction"><%= simple_format(@user.introduction) %></div>
          </div>
        <% else %>
          <div class="user_profile_intro_content">
            <div id="introduction">No description yet :( </div>
          </div>
        <% end %>
      </div>
      <div style="float: left;width: 600px;">
        <%= form_for(@user) do |f|%>
          <%= f.text_area :introduction, maxlength:75, class:"intro-control" %>
          <%= f.submit "submit", class:"intro-control-submit"%>
        <% end %>
        <button id="user_profile_cancel_btn">
          close
        </button>
      </div>
    </div>
    <div class="user_profile_right">
      <div class="user_profile_join">
        Joined<br>
        <%= @user.created_at.strftime("%B %d, %Y") %>
      </div>
      <div class="user_profile_stat">
        <%= render 'shared/stats'%>
      </div>
    </div>
  </div>

  <div class="user_nav_col">
    <ul class="user_nav_col_ul">
      <li class="user_nav_col_li">
        <%= link_to "Overview", overview_user_path(anchor: 'hidden_profile_anchor'), class:"btn btn-default" %>
      </li>
      <li class="user_nav_col_li">
        <%= link_to "Posts", posts_list_user_path(anchor: 'hidden_profile_anchor'), class:"btn btn-default"%>
      </li>
      <li class="user_nav_col_li">
        <%= link_to "Comments", comments_list_user_path(anchor: 'hidden_profile_anchor'), class:"btn btn-default"%>
      </li>
      <li class="user_nav_col_li">
        <%= link_to "Followings", followinglist_user_path(anchor: 'hidden_profile_anchor'),class:"btn btn-primary"%>
      </li>
      <li class="user_nav_col_li">
        <%= link_to "Followers", followerlist_user_path(anchor: 'hidden_profile_anchor'), class:"btn btn-default"%>
      </li>
    </ul>
  </div>

  <div class="user_body">
    <div id="hidden_profile_anchor" style="visibility:hidden; height:51px; margin-top:-61px;"></div>
    <div style="margin-top:10px;"></div>
    <% if !current_user?(@user) %>
      <header class="user_follow_header">
        <% if @user.following.count <= 1 %>
          <%= @user.name %> is following <%= @user.following.count %> person
        <% else %>
          <%= @user.name %> is following <%= @user.following.count %> people
        <% end %>
      </header>
    <% else %>
      <header class="user_follow_header">
        <% if @user.following.count <= 1 %>
          You are following <%= @user.following.count %> person
        <% else %>
          You are following <%= @user.following.count %> people
        <% end %>
      </header>
    <% end %>
    <input type="text" id="follow_user_search" onkeyup="search_follow_user()" placeholder="&#xf002; search for names..."
           title="type in a name">

    <div class="follow_div">
      <ul class="follow_ul">
        <%= render 'follow_member' %>
      </ul>
    </div>


  </div>
</div>

<script>

    function search_follow_user(){
        var input, filter, ul, li, a, i;
        input = document.getElementById("follow_user_search");
        filter = input.value.toUpperCase();
        ul = document.getElementsByClassName("follow_ul")[0];
        li = ul.getElementsByClassName("member_li");
        for (i = 0; i < li.length; i++) {
            a = li[i].getElementsByTagName("a")[0];
            if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
                li[i].style.display = "";
            } else {
                li[i].style.display = "none";
            }
        }
    }

    document.addEventListener("turbolinks:load", function(){
        var intro= document.getElementById("introduction");
        var intro_form= document.getElementsByClassName("intro-control")[0];
        var intro_submit = document.getElementsByClassName("intro-control-submit")[0];
        var intro_cancel = document.getElementById("user_profile_cancel_btn");

        $('.edit-intro-btn').click(function(){
            intro.style.display="none";
            intro_form.style.display="block";
            intro_submit.style.display="block";
            intro_cancel.style.display="block";
        });

        $('#user_profile_cancel_btn').click(function(){
            intro.style.display="block";
            intro_form.style.display="none";
            intro_submit.style.display="none";
            intro_cancel.style.display="none";

        });

    });
</script>