<% provide(:title, @user.name) %>
<div class="row"  style="width:1155px;margin:auto;">
  <nav class="nav_bar">
    <ul>
      <li>
        <%= link_to "Home", root_url %> \&nbsp;
      </li>
      <li>
        Personal profile
      </li>
    </ul>
  </nav>

  <div class="user_profile">
    <div class="user_profile_left">
      <div class="user_profile_avatar">
        <% if @user.picture? %>
          <%= image_tag @user.picture.url class:"img-circle" %>
        <% else %>
          <%= image_tag ('default.jpg'), class:"img-circle"%>
        <% end %>
      </div>
    </div>

    <div class="user_profile_middle">
      <div class="user_profile_name">
        <p> <%= @user.name %></p>
      </div>
      <div class="follow_button">
        <% if logged_in? %>
          <%= render 'follow_form' %>
        <% else %>
          <%= link_to "+ Follow", login_path, class:"btn follow-btn", data:{confirm:"You need to log in first!"} %>
        <% end %>
      </div>
      <% if current_user?(@user) %>
        <div class="edit_button">
          <%=image_tag ("edit_icon.png"), size:"20x18", class:"edit-intro-btn" %>
        </div>
      <% end %>
      <div class="user_profile_intro">
        <% if @user.introduction? %>
          <div class="user_profile_intro_content">
            <div id="introduction"><%= simple_format(@user.introduction) %></div>
          </div>
        <% else %>
          <div class="user_profile_intro_content">
            <div id="introduction">No description yet :( </div>
          </div>
        <% end %>
      </div>
      <div style="float: left;width: 600px;">
        <%= form_for(@user) do |f|%>
          <%= f.text_area :introduction, maxlength:75, class:"intro-control" %>
          <%= f.submit "submit", class:"intro-control-submit"%>
        <% end %>
        <button id="user_profile_cancel_btn">
          close
        </button>
      </div>
    </div>
    <div class="user_profile_right">
      <div class="user_profile_join">
        Joined<br>
        <%= @user.created_at.strftime("%B %d, %Y") %>
      </div>
      <div class="user_profile_stat">
        <%= render 'shared/stats'%>
      </div>
    </div>
  </div>

  <div class="user_nav_col">
    <ul class="user_nav_col_ul">
      <li class="user_nav_col_li">
        <%= link_to "Overview", overview_user_path(anchor: 'hidden_profile_anchor'), class:"btn btn-primary" %>
      </li>
      <li class="user_nav_col_li">
        <%= link_to "Posts", posts_list_user_path(anchor: 'hidden_profile_anchor'), class:"btn btn-default"%>
      </li>
      <li class="user_nav_col_li">
        <%= link_to "Comments", comments_list_user_path(anchor: 'hidden_profile_anchor'), class:"btn btn-default"%>
      </li>
      <li class="user_nav_col_li">
        <%= link_to "Followings", followinglist_user_path(anchor: 'hidden_profile_anchor'),class:"btn btn-default"%>
      </li>
      <li class="user_nav_col_li">
        <%= link_to "Followers", followerlist_user_path(anchor: 'hidden_profile_anchor'), class:"btn btn-default"%>
      </li>
    </ul>
  </div>

    <div id="hidden_profile_anchor" style="float: right;width: 75%;visibility:hidden; height:51px; margin-top:-31px;"></div>
    <div style="float: right;margin-top: 10px;width: 75%;"></div>
      <div class="personal_update">
        <%= render "updates/widget", updateable: @user %>
      </div>
  </div>

<script>
    document.addEventListener("turbolinks:load", function(){
        var intro= document.getElementById("introduction");
        var intro_form= document.getElementsByClassName("intro-control")[0];
        var intro_submit = document.getElementsByClassName("intro-control-submit")[0];
        var intro_cancel = document.getElementById("user_profile_cancel_btn");

        $('.edit-intro-btn').click(function(){
            intro.style.display="none";
            intro_form.style.display="block";
            intro_submit.style.display="block";
            intro_cancel.style.display="block";
        });

        $('#user_profile_cancel_btn').click(function(){
            intro.style.display="block";
            intro_form.style.display="none";
            intro_submit.style.display="none";
            intro_cancel.style.display="none";

        });

        var update = document.getElementsByClassName("update");


        for (var i = 0; i < update.length; i++){
            var reply = update[i].getElementsByClassName("updatereply");
            var count = 0;
            var childcount = 0;
            var index = 0;
            var parentComment = null;
            for (var j = 0; j < reply.length; j++){
                var content=$(".updatereply")[j];

                if ($(content).parent().parent().is(".update")){
                    parentComment = $(content).attr('id');
                    childcount = 0;
                    index = 0;
                    count++;
                    if (count > 3){
                        document.getElementsByClassName("show_more_comment")[i].style.display="block";
                        reply[j].style.display = "none";
                    }
                }


                if ($(content).parent().parent().is('#'+parentComment)){
                    if (index === 0){
                        index = j;
                    }
                    childcount++;
                    if (childcount > 0){
                        document.getElementsByClassName("show_more_reply")[index - 1].style.display="block";
                            reply[j].style.display = "none";

                    }
                }

            }

            }
/*
            if (reply.length > 3){
                document.getElementsByClassName("show_more_comment")[i].style.display="block";
                for (var j = 2; j < reply.length;j++){
                    reply[j].style.display="none";
                }
            }
        }


*/



        $('.show_more_comment').click(function(){
            var $elem = $(this).parent().find('ul').find('.updatereply');


            for (var a=0;a<$elem.length;a++){
                var content = $elem[a];
                if ($(content).parent().parent().is(".update")){
                    content.style.display="block";
                }
                //$elem[a].style.display="block";
            }
            $(this).hide();
        });

        $('.show_more_reply').click(function(){
            var $elem2 = $(this).parent().find('ul').find('.updatereply');


            for (var a=0;a<$elem2.length;a++) {
                var content2 = $elem2[a];
                content2.style.display = "block";
            }
            $(this).hide();
        });


    });
</script>