<% if current_user.picture? %>
  <%= image_tag current_user.picture.url %>
<% else %>
  <%= image_tag ('default.jpg')%>
<% end %>
<h1 class=info_h1><%= current_user.name %></h1>
<span class=span_profile><%= link_to "my profile", current_user %></span>
<span class=span_post><%= pluralize(current_user.posts.count, "post") %></span>