<div class="update-form">
  <%= simple_form_for [update.updateable, update], remote: true do | f | %>
    <%= f.hidden_field :updateparent_id %>
    <%= f.trix_editor :content,label: false, placeholder: (f.object.updateparent_id.nil? ? 'Leave update here' : 'Leave reply here.'),
                      input_html: { rows: 5, data:{ 'update-id': (update.persisted? ? update.id : 'new') }} %>
    <%= link_to "Cancel", "#", 'data-updatereply': update.updateparent_id.present?,
                style:"margin-top:10px; margin-bottom:20px; width: auto; float: right; margin-left:10px;",
                class: 'cancel-update-link btn btn-default btn-sm float-xs-right ml-1' if update.persisted? or update.updateparent%>
    <%= f.submit class: 'btn btn-primary  btn-sm float-xs-right', style:"margin-top:10px; margin-bottom:20px;
                                                                                          width: auto; float: right;" %>
    <div class="clearfix"></div>
  <% end %>
</div>