<li id="update_<%= update.id %>" class="update">
  <section class="updates-body">
    <aside class="avatar_img">
      <% if update.user.picture?%>
        <%= link_to (image_tag update.user.picture.url, class:"img-circle"), update.user %>
      <% else %>
        <%= link_to (image_tag ('default.jpg'), class:"img-circle"), update.user %>
      <% end %>
    </aside>

    <span class="update-info">
        <%= sanitize link_to update.user.name, update.user %> &bull;
      <%= localize(update.created_at, format: :long) %>
    </span>

    <div class="update-content">
      <%= sanitize update.content, tags:%w(img)  %>
    </div>

    <div class="update-comment-count">
      <% if update.updatereplies.any? %>
        <%= update.updatereplies.size %> Comments
      <% end %>
    </div>


    <div class="update-menu">
      <div class="update-menu-user">
      <% if current_user&.admin? %>
        <%= link_to edit_polymorphic_path([update.updateable, update]), class: 'edit-update-link', remote: true do %>
            <i class="fa fa-edit"></i> EDIT
            <% end %> &bull;
        <%= link_to [update.updateable, update], method: :delete, class: 'delete-update-link', data:{confirm:"Are your sure?"}, remote: true do %>
            <i class="fa fa-trash-o"></i> DELETE
      <% end %>
      <% end %>
      <% if current_user?(update.user)&&!current_user.admin? %>
          <%= link_to edit_polymorphic_path([update.updateable, update]), class: 'edit-update-link', remote: true do %>
            <i class="fa fa-edit"></i> EDIT
          <% end %> &bull;
          <%= link_to [update.updateable, update], method: :delete, class: 'delete-update-link', data:{confirm:"Are your sure?"}, remote: true do %>
            <i class="fa fa-trash-o"></i> DELETE
          <% end %>
      <% end %>
    </div>
      <div class="update-menu-reply">
      <% if logged_in? %>
          <%= link_to polymorphic_path([:reply, update.updateable, update]), class: 'reply-update-link', remote: true do  %>
            <i class='fa fa-comments-o'></i> COMMENT
          <% end  %>
      <% else %>
          <%= link_to login_path, data:{confirm:"You need to log in first!"} ,class: 'reply-update-link' do %>
            <i class='fa fa-comments-o'></i> COMMENT
          <% end %>
      <% end %>
      </div>
    </div>
  </section>

  <p class="show_more_comment">Show more</p>

<% if update.updatereplies.any? %>
  <ul style="float:left;padding: 0;list-style-type: none;">
    <%= render "updates/update_reply", update: update.updatereplies %>
  </ul>
<% end %>

</li>