<% provide(:title, "Editing: "+@post.title) %>
<div class = "row" style="width:82.15%;margin:auto;">
  <nav class="nav_bar">
    <ul>
      <li>
        <%= link_to "Home", root_url %> \&nbsp;
      </li>
      <li>
        <%= link_to "Community", community_path %> \&nbsp;
      </li>
      <li>
        <%= link_to @post.title, @post %> \&nbsp;
      </li>
      <li>
        edit
      </li>
    </ul>
  </nav>
  <header class="post_header">
    <h1>Edit</h1>
  </header>
  <div class="post_form_body">
    <%= form_for(@post, html: {class: "edit_post_form"}) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <div class = "topic_field">
        <%= f.text_field :title, value: @post.title %>
      </div>
      <div class = "content_field">
        <%= f.cktext_area :content, value: @post.content%>
      </div>

      <%= f.submit "Update", class: "btn btn-primary", style:"float:left; width: 150px;margin-left: 81px;"%>
      <div>
        <%= link_to "Back", :back, class: "btn btn-default", style:"float:left; width: 150px; margin-left:30px;" %>
      </div>
    <% end %>
  </div>
</div>



 