<% provide(:title, @post.title) %>
<div class = "row" style="width:82.15%;margin:auto;">
  <nav class="nav_bar">
    <ul>
      <li>
        <%= link_to "Home", root_url %> \&nbsp;
      </li>
      <li>
        <%= link_to "Community", community_path %> \&nbsp;
      </li>
      <li>
        <%= @post.title %>
      </li>
    </ul>
  </nav>

  <header class="post_show_header">
    <h1><%= @post.title %></h1>
  </header>
  <div style="float: left;width: 823px;">
  <div class="post_show_body">
    <div class="post_show_body_info">
      <aside>
        <% if @post.user.picture?%>
          <%= image_tag @post.user.picture.url, class:"img-circle" %>
        <% else %>
          <%= image_tag ('default.jpg'), class:"img-circle" %>
        <% end %>
      </aside>
      <span class="post_show_body_timestamp">
        <%= sanitize link_to @post.user.name, @post.user %> &bull;
        <%= localize(@post.created_at, format: :long) %>
      </span>

      <span class="post_show_control">
              <% if current_user && current_user.admin? %>
      <%= link_to @post, method: :delete,
                  data: { confirm: "You sure?" }, class:"deletebtn" do %>
        <i class="fa fa-trash-o"></i> delete
          <% end %>
          <%= link_to edit_post_path(@post), class:"editbtn" do %>
        <i class="fa fa-edit"></i> edit
          <% end %>
    <% end %>
        <% if current_user?(@post.user)&&!current_user.admin? %>
      <%= link_to @post, method: :delete,
                  data: { confirm: "You sure?" }, class:"deletebtn" do %>
          <i class="fa fa-trash-o"></i> delete
          <% end %>
          <%= link_to edit_post_path(@post), class:"editbtn" do %>
        <i class="fa fa-edit"></i> edit
        <% end %>

    <% end %>
      </span>
    </div>

    <div class="post_show_body_content">
      <p><%= sanitize @post.content,
                      tags:%w(p i b table tbody tr td u s em blockquote ol ul li strong sub sup span hr img a object br ),
                      attributes: %w(id name alt src color href style border cellpadding cellspacing class) %></p>
    </div>
  </div>
    <%= render "comments/widget", commentable: @post %>
  </div>
  <aside class="post_aside">
    <ul>
      <li class="post_user_info">
        <div class="post_user_info_avatar">
          <% if @post.user.picture?%>
            <%= image_tag @post.user.picture.url, class:"img-circle" %>
          <% else %>
            <%= image_tag ('default.jpg'), class:"img-circle" %>
          <% end %>
        </div>
        <div class="post_user_info_user">
          <h4><%= sanitize link_to @post.user.name, @post.user %></h4>
        </div>
        <div class="follow_button">
          <% if logged_in? %>
            <%= render 'users/follow_form' %>
          <% else %>
            <%= link_to "+ Follow", login_path, class:"btn follow-btn", data:{confirm:"You need to log in first!"} %>
          <% end %>
        </div>
      </li>
      <li class="trending_discussion">
        <h3>Trending discussions</h3>
        <%= render 'shared/trending_topic' %>
      </li>
      <li class="recent_reply" >
        <h3>Recent replies</h3>
        <%= render 'shared/recent_reply' %>
      </li>
    </ul>

  </aside>

</div>