<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Community Prototype</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container-fluid" style="padding-left:0px; padding-right:0px; background-color:#f2f2f2;margin-top: -8px;
    ">
      <% flash.each do |message_type, message| %>
        <div class = "alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>

    </div>
  </body>

  <hr class="footerhr" style="width:90%;"></hr>
  <%= render 'layouts/footer' %>

</html>